<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<tr class="t3-row-header">
    <td>&nbsp;</td>
    <td>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_subject"/>&nbsp;&nbsp;
        </b>
    </td>
    <td>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_scheduled"/>
        </b>
    </td>
    <td>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_delivery_begun"/>
        </b>
    </td>
    <td>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_delivery_ended"/>
        </b>
    </td>
    <td style="text-align: center;">
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_number_sent"/>
        </b>
    </td>
    <td style="text-align: center;">
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_delete"/>
        </b>
    </td>
</tr>

</html>
