<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<thead>
<tr>
    <th>&nbsp;</th>
    <th>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:stats_overview_subject"/>
        </b>
    </th>
    <th>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:stats_overview_scheduled"/>
        </b>
    </th>
    <th>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:stats_overview_delivery_begun"/>
        </b>
    </th>
    <th>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:stats_overview_delivery_ended"/>
        </b>
    </th>
    <th nowrap="nowrap">
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:stats_overview_total_sent"/>
        </b>
    </th>
    <th>
        <b>
            <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:stats_overview_status"/>
        </b>
    </th>
</tr>
</thead>

</html>
